data/suite/rng101/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"><start><ref name="element1"/></start><define name="element1"><element><name ns="">foo</name><interleave><ref name="element2"/><ref name="element3"/></interleave></element></define><define name="element2"><element><name ns="">bar</name><empty/></element></define><define name="element3"><element><name ns="">baz</name><empty/></element></define></grammar>