data/suite/rng146/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"><start><ref name="element1"/></start><define name="element1"><element><name ns="">foo</name><choice><group><attribute><name ns="">bar</name><empty/></attribute><ref name="element2"/></group><group><attribute><name ns="">bar</name><text/></attribute><ref name="element3"/></group></choice></element></define><define name="element2"><element><name ns="">baz1</name><empty/></element></define><define name="element3"><element><name ns="">baz2</name><empty/></element></define></grammar>