data/suite/rng158/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"><start><ref name="element1"/></start><define name="element1"><element><name ns="">foo</name><list><oneOrMore><choice><group><data datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" type="double"><param name="minInclusive">0</param><param name="maxInclusive">1</param></data><data datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" type="double"><param name="minInclusive">0</param><param name="maxInclusive">1</param></data></group><group><group><group><value datatypeLibrary="" type="token" ns="TODO">rgb</value><data datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" type="double"><param name="minInclusive">0</param><param name="maxInclusive">1</param></data></group><data datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" type="double"><param name="minInclusive">0</param><param name="maxInclusive">1</param></data></group><data datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" type="double"><param name="minInclusive">0</param><param name="maxInclusive">1</param></data></group></choice></oneOrMore></list></element></define></grammar>