data/suite/rng90/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"><start><ref name="element1"/></start><define name="element1"><element><name ns="">foo</name><group><ref name="element2"/><choice><empty/><ref name="element3"/></choice></group></element></define><define name="element2"><element><name ns="">bar</name><empty/></element></define><define name="element3"><element><name ns="">baz</name><empty/></element></define></grammar>